.category-container{
  display: flex;
}
.category {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.category-name {
  font-weight: 1.2rem;
  font-weight: 550;
  color: black;
}

.subcategory-list {
  left: 50%;
  top: 100%;
  border-radius: 10px;
  position: absolute;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 200px;
  max-height: 300px;
  display: none;
  flex-direction: column;
  animation: fadeIn 0.3s;
}

.subcategory {
  padding: 10px 10px;
}

.category:hover .subcategory-list {
  display: flex; 
}

.category:hover {
  background-color: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .subcategory-list {
    left: auto;
    right: 0;
  }
}